.cpt-prizes-carousel {
  padding: 8px 0;
  background: @deep_green_1;
  overflow: hidden;
  .prizes-card {
    // width: 128.5px;
    // height: 197.6px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}