@import "~Assets/styles/normalize.less";

html, body, #root {
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#root {
  background: url(~Assets/images/bg.jpg) center center / cover no-repeat;
}