<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>#集卡世界杯#</title>
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="viewport" content="viewport-fit=cover,user-scalable=no">
    <%= require('raw-loader!../antm.html') %>
    <%= htmlWebpackPlugin.files.webpackManifest %>

    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>

    <%= require('raw-loader!../common.html') %>

    <% for (var head of htmlWebpackPlugin.options.head) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[head].entry %>"></script>
    <% } %>
</head>
<body>
    <div id="root"></div>
    <script src="//s3.pstatp.com/inapp/toutiao.js"></script>
    <% for (var body of htmlWebpackPlugin.options.body) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[body].entry %>"></script>
    <% } %>
</body>
</html>
