@import "~Assets/styles/normalize.less";



#root,
html,
body {
  background-color: @normal_green;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#root {
  background: @deep_green_1 url('../../assets/background.png') center center/cover no-repeat;
}

#root {

}
