@import "~Assets/styles/normalize.less";



#root,
html,
body {
  background-color: @normal_green;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
}

#root {
  overflow: hidden;
  min-height: 100%;
  background: @deep_green_1 url('../../assets/background.png') center center/cover no-repeat;
}


.am-notice-bar {
  margin: 0 auto;
  margin-top: 12px;
  background: #193900;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
  border-radius: 4px;
  width: 225px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  font-size: @small_font;
  color: @normal_yellow;
}

.more {
  font-size: @normal_font;
  color: @normal_yellow;
  text-shadow: 0 2px 4px rgba(0,0,0,0.50);
  &::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 7px;
    border: 1px solid @normal_yellow;
    border-left-color: transparent;
    border-top-color: transparent;
    transform: rotate(-45deg);
    transform-origin: center;
  }
}
