.cpt-game-box {
  width: 95%;
  margin: 0 auto;
  background: #68BB22;
  position: relative;
  box-shadow: inset 0 1px 3px 0 rgba(68,68,68,0.50);
  border-radius: 10px;
  padding: 5px 4px 7px 4px;
  box-sizing: border-box;
  >div{
    overflow: hidden;
    padding:0 10px;
    padding-top: 12px;
    box-sizing: border-box;
    background: @deep_green_1;
    box-shadow: 0 4px 4px 0 rgba(16,16,16,0.50), inset 0 1px 3px 0 rgba(68,68,68,0.50);
    border-radius: 10px;
  }
  .banner {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    width: 63%;
  }
}
