<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <title>世界杯2018</title>
    <%= htmlWebpackPlugin.files.webpackManifest %>

    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>

    <% for (var head of htmlWebpackPlugin.options.head) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[head].entry %>"></script>
    <% } %>
</head>
<body>
    <div id="root"></div>
    <% for (var body of htmlWebpackPlugin.options.body) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[body].entry %>"></script>
    <% } %>
</body>
</html>