.cpt-receive-card {
  margin-top: 17px;
  .receive-banner {
    position: relative;
    height: 51px;
    background: url(./images/banner.png) center no-repeat;
    background-size: auto 100%;
    z-index: 1;
  }
  .receive-content {
    padding: 30px 0 16px;
    margin-top: -26px;
    background: @normal_green;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    .rules {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      li {
        margin: 0 2px;
        font-size: @normal_font;
        color: @normal_yellow;
      }
      li.arrow {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 12px;
        border-color: transparent transparent transparent @normal_yellow;
      }
    }
    .card-list {
      display: block;
      padding: 30px 0;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      overflow-x: auto;
      .card {
        display: inline-block;
        width: 100px;
        height: 152px;
        border-radius: 3px;
        background: black;
        &+.card {
          margin-left: 38px;
        }
        &.gold {
          box-shadow: 0 0 30px yellow;
        }
      }
    }
  }
}